.btn{
    margin: 25px;
    padding:25px;
    font-weight: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #4FBDBA;
    background-color: #AEFEFF;
    color: #072227;
    font-style: cursive;
    
}